--binarygrouping none 
--commas inline 
--decimalgrouping none 
--hexgrouping none 
--octalgrouping none 
--nospaceoperators 
--semicolons never 
--stripunusedargs closure-only 
--wraparguments after-first 
--wrapcollections before-first
--disable wrapMultilineStatementBraces